<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <h1 class="center-text">パスワード再設定</h1>
      <%= form_with model: @user, url: password_reset_path(@token) do |f| %>
        <div class="form-group mb-3">
          <%= f.label :"メールアドレス" %>
          <%= @user.email %>
        </div>

        <div class="form-group mb-3" data-controller="password-visibility">
          <%= f.label :"パスワード" %>
          <div class="input-group">
            <%= f.password_field :password,
                  class: 'form-control',
                  data: { "password-visibility-target": "input", "input-name": "password" } %>

            <button type="button"
              class="btn btn-outline-secondary"
              data-action="password-visibility#toggle"
              data-password-visibility-target="button"
              data-target-input="password">
            </button>
          </div>
        </div>

        <div class="form-group mb-3" data-controller="password-visibility">
          <%= f.label :"パスワード確認" %>
          <div class="input-group">
            <%= f.password_field :password_confirmation,
                  class: 'form-control',
                  data: { "password-visibility-target": "input", "input-name": "password_confirmation" } %>

            <button type="button"
              class="btn btn-outline-secondary"
              data-action="password-visibility#toggle"
              data-password-visibility-target="button"
              data-target-input="password">
            </button>
          </div>
        </div>

        <div class="center-text">
          <%= f.submit '再設定', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
