<div class="user-registration">
  <div class="form-container">
    <h1 class="center-text">会員登録</h1>
    <%= form_with model: @user, local: true do |f| %>
      <%= render partial: 'shared/error_messages', locals: { object: @user } %>
      <div class="form-group mb-3">
        <%= f.label :"名前" %>
        <%= f.text_field :name, class: 'form-control', placeholder: "卓球太郎" %>
      </div>
      <div class="form-group mb-3">
        <%= f.label :"メールアドレス" %>
        <%= f.email_field :email, class: 'form-control', placeholder: "example@example.com" %>
      </div>

      <div class="form-group mb-3" data-controller="password-visibility">
        <%= f.label :"パスワード" %>
        <div class="input-group">
          <%= f.password_field :password,
                class: 'form-control',
                data: { "password-visibility-target": "input", "input-name": "password" } %>

          <button type="button"
            class="btn btn-outline-secondary"
            data-action="password-visibility#toggle"
            data-password-visibility-target="button"
            data-target-input="password">
          </button>
        </div>
      </div>

      <div class="form-group mb-3" data-controller="password-visibility">
        <%= f.label :"パスワード確認" %>
        <div class="input-group">
          <%= f.password_field :password_confirmation,
                class: 'form-control',
                data: { "password-visibility-target": "input", "input-name": "password_confirmation" } %>

          <button type="button"
            class="btn btn-outline-secondary"
            data-action="password-visibility#toggle"
            data-password-visibility-target="button"
            data-target-input="password">
          </button>
        </div>
      </div>

      <div class="center-text">
        <%= f.submit '登録', class: 'btn btn-blue-primary' %>
      </div>
    <% end %>
    <div class='center-link'>
      <%= link_to 'ログインページへ', login_path %>
    </div>
  </div>
</div>
