<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-success'>
    <div class="container-fluid">
      <a class='navbar-brand mx-auto' href='/'>
        <%= image_tag 'logo.png' %>
      </a>
      <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContentHeader'
        aria-controls='navbarSupportedContentHeader' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse justify-content-end' id='navbarSupportedContentHeader'>
        <ul class='navbar-nav align-items-center'>
          <li class='nav-item dropdown dropdown-slide'>
            <a href='#' class='nav-link dropdown-toggle text-white' data-bs-toggle='dropdown'>
              試合分析
            </a>
            <div class='dropdown-menu dropdown-menu-right bg-success'>
              <%= link_to '分析一覧', match_infos_path, class: 'dropdown-item text-white' %>
              <%= link_to '分析を開始', new_match_info_path, class: 'dropdown-item text-white' %>
            </div>
          </li>
          <%# <li class='nav-item'>
            <%= link_to 'マイページ', '#', class: 'nav-link text-white'
          </li> %>
          <li class='nav-item'>
            <%= link_to 'ログアウト', logout_path, class: 'nav-link text-white', data: { turbo_method: :delete } %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
