<div class="form-container">
  <%= form_with(model: match_info) do |form| %>

    <%= render 'shared/error_messages', object: @match_info %>

    <div class="row mb-3">
      <div class="column">
        <%= form.label :"日付", style: "display: block" %>
        <%= form.date_field :match_date %>
      </div>

      <div class="column">
        <%= form.label :"大会名", style: "display: block" %>
        <%= form.text_field :match_name %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="column">
        <%= form.label :"選手名", style: "display: block" %>
        <%= form.text_field :player_name %>
      </div>

      <div class="column">
        <%= form.label :"対戦相手名", style: "display: block" %>
        <%= form.text_field :opponent_name %>
      </div>
    </div>

    <div class="column">
      <%= form.label :"メモ", style: "display: block" %>
      <%= form.text_area :memo, class: "wide-textarea" %>
    </div>

    <% if match_info.scores.present? %>
      <%= form.fields_for :scores do |score_form| %>
        <% if score_form.object.persisted? %>
          <%= score_form.select :batting_style, [['サーブ', 'serve'], ['レシーブ', 'receive']], {}, { class: "form-control medium-input" } %>

          <% if score_form.object.batting_style == "serve" %>
            <div class="row mb-3">
              <div class="column">
                <%= score_form.label :score, "得点数", class: "text-blue" %>
                <div class="number-input d-flex align-items-center">
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                  <%= score_form.number_field :score, class: "form-control small-input", min: 0, value: score_form.object.score || 0 %>
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
                </div>
              </div>
              <div class="column">
                <%= score_form.label :lost_score, "失点数", class: "text-red" %>
                <div class="number-input d-flex align-items-center">
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                  <%= score_form.number_field :lost_score, class: "form-control small-input", min: 0, value: score_form.object.lost_score || 0 %>
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
                </div>
              </div>
            </div>
          <% elsif score_form.object.batting_style == "receive" %>
            <!-- 同様のコードを"receive"の場合にも適用 -->
            <div class="row mb-3">
              <div class="column">
                <%= score_form.label :score, "得点数", class: "text-blue" %>
                <div class="number-input d-flex align-items-center">
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                  <%= score_form.number_field :score, class: "form-control small-input", min: 0, value: score_form.object.score || 0 %>
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
                </div>
              </div>
              <div class="column">
                <%= score_form.label :lost_score, "失点数", class: "text-red" %>
                <div class="number-input d-flex align-items-center">
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                  <%= score_form.number_field :lost_score, class: "form-control small-input", min: 0, value: score_form.object.lost_score || 0 %>
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>


    <%# <div class="center-text">
    <%= form.check_box :post_to_x %>
    <%# <%= form.label :post_to_x, "Xに投稿する" %>
    <%# </div>  %>

    <div class="center-text">
      <%= form.submit "試合を分析する", class: "btn btn-success text-white" %>
    </div>
  <% end %>
</div>
