<div class="form-container">
  <%= form_with(model: match_info) do |form| %>
  
    <%= render 'shared/error_messages', object: @match_info %>

    <div class="row mb-3">
      <div class="column">
        <%= form.label :"日付", style: "display: block" %>
        <%= form.date_field :match_date %>
      </div>

      <div class="column">
        <%= form.label :"大会名", style: "display: block" %>
        <%= form.text_field :match_name, placeholder: "出場した大会名を入力" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="column">
        <%= form.label :"選手名", style: "display: block" %>
        <%= form.text_field :player_name, placeholder: "分析する選手名を入力" %>
      </div>

      <div class="column">
        <%= form.label :"対戦相手名", style: "display: block" %>
        <%= form.text_field :opponent_name, placeholder: "対戦相手の名前を入力" %>
      </div>
    </div>

    <div class="mb-5">
      <%= form.label :"メモ", style: "display: block" %>
      <%= form.text_area :memo, class: "wide-textarea", placeholder: "対戦相手の戦型や使用用具、分析していて気になったプレーなどを入力" %>
    </div>

    <div class="analysis-header mb-4">
      <h4 class="center-subtext">【サーブとレシーブからの得点率分析】</h4>
      <div>サーブとレシーブそれぞれから始まったラリーの得点率を分析します。<br>
        例：分析する選手のサーブから始まったラリーで得点<br>→サーブの得点数に1をプラスする。<br>
        ※サービスエースとレシーブエースのみを集計するためのものではありません。<br>
        ※得点数/失点数は選手の視点で入力
      </div>
    </div>

    <% match_info.scores.each do |score| %>
      <%= form.fields_for :scores, score do |score_form| %>
        <%= score_form.select :batting_style, [['サーブ', 'serve'], ['レシーブ', 'receive']], {}, { class: "form-control medium-input" } %>

        <% if score.batting_style == "serve" %>
          <div class="row mb-5">
            <div class="column">
              <%= score_form.label :score, "得点数", class: "text-blue" %>
              <div class="number-input d-flex align-items-center">
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                <%= score_form.number_field :score, class: "form-control small-input", min: 0, value: score.score || 0 %>
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
              </div>
            </div>
            <div class="column">
              <%= score_form.label :lost_score, "失点数", class: "text-red" %>
              <div class="number-input d-flex align-items-center">
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                <%= score_form.number_field :lost_score, class: "form-control small-input", min: 0, value: score.lost_score || 0 %>
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
              </div>
            </div>
          </div>
        <% elsif score.batting_style == "receive" %>
          <div class="row mb-5">
            <div class="column">
              <%= score_form.label :score, "得点数", class: "text-blue" %>
              <div class="number-input d-flex align-items-center">
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                <%= score_form.number_field :score, class: "form-control small-input", min: 0, value: score.score || 0 %>
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
              </div>
            </div>
            <div class="column">
              <%= score_form.label :lost_score, "失点数", class: "text-red" %>
              <div class="number-input d-flex align-items-center">
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                <%= score_form.number_field :lost_score, class: "form-control small-input", min: 0, value: score.lost_score || 0 %>
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>



    <%# <div class="center-text">
    <%= form.check_box :post_to_x %>
    <%# <%= form.label :post_to_x, "Xに投稿する" %>
    <%# </div>  %>

    <div class="center-text">
      <%= form.submit "試合を分析する", class: "btn btn-success text-white" %>
    </div>
  <% end %>
</div>

