<div class="form-container">
  <%= form_with(model: match_info) do |form| %>
    <% if match_info.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(match_info.errors.count, "error") %> prohibited this match_info from being saved:</h2>

        <ul>
          <% match_info.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <div class="column">
        <%= form.label :"日付", style: "display: block" %>
        <%= form.date_field :match_date %>
      </div>

      <div class="column">
        <%= form.label :"大会名", style: "display: block" %>
        <%= form.text_field :match_name %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="column">
        <%= form.label :"選手名", style: "display: block" %>
        <%= form.text_field :player_name %>
      </div>

      <div class="column">
        <%= form.label :"対戦相手名", style: "display: block" %>
        <%= form.text_field :opponent_name %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :"メモ", style: "display: block" %>
      <%= form.text_area :memo, class: "wide-textarea" %>
    </div>

    <% match_info.scores.each do |score| %>
      <%= form.fields_for :scores, score do |score_form| %>
        <%= score_form.select :batting_style, [['サーブ', 'serve'], ['レシーブ', 'receive']], {}, { class: "form-control medium-input" } %>

        <% if score.batting_style == "serve" %>
          
          <div class="row mb-3">
            <div class="column">
              <%= score_form.label :score, "得点数", class: "text-blue" %>
              <%= score_form.number_field :score, class: "form-control small-input", min: 0 %>
            </div>
            <div class="column">
              <%= score_form.label :lost_score, "失点数", class: "text-red" %>
              <%= score_form.number_field :lost_score, class: "form-control small-input", min: 0 %>
            </div>
          </div>

        <% elsif score.batting_style == "receive" %>
          <div class="row mb-3">
            <div class="column">
              <%= score_form.label :score, "得点数", class: "text-blue" %>
              <%= score_form.number_field :score, class: "form-control small-input", min: 0 %>
            </div>
            <div class="column">
              <%= score_form.label :lost_score, "失点数", class: "text-red" %>
              <%= score_form.number_field :lost_score, class: "form-control small-input", min: 0 %>
            </div>
          </div>

        <% end %>
      <% end %>
    <% end %>
    
    <%# <div class="center-text">
    <%= form.check_box :post_to_x %>
    <%# <%= form.label :post_to_x, "Xに投稿する" %>
    <%# </div>  %>

    <div class="center-text">
      <%= form.submit "試合を分析する", class: "btn btn-success text-white" %>
    </div>
  <% end %>
</div>

