<div id="<%= dom_id match_info %>">

  <p>
    <strong>選手名:</strong>
    <%= match_info.player.player_name %>
  </p>

  <p>
    <strong>対戦相手名:</strong>
    <%= match_info.opponent.player_name %>
  </p>

  <p>
    <strong>日付:</strong>
    <%= match_info.match_date %>
  </p>

  <p>
    <strong>大会名:</strong>
    <%= match_info.match_name %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= match_info.memo %>
  </p>

</div>
