<h1 class="center-text">試合分析一覧</h1>

<%= search_form_for @q, html: { class: "row gx-0 align-items-center justify-content-center" } do |f| %>
  
  <div class="col-auto">
    <%= f.label :match_name_cont, "大会名", class: "visually-hidden" %>
    <%= f.search_field :match_name_cont, class: "form-control", placeholder: "大会名", data: { 
  controller: "autocomplete",
  action: "autocomplete->input",
  autocomplete_url_value: autocomplete_match_infos_path(format: :json) } %>
  <span class="clear-field" data-action="click->input#clear"></span>
  </div>

  <div class="col-auto">
    <%= f.label :player_player_name_cont, "選手名", class: "visually-hidden" %>
    <%= f.search_field :player_player_name_cont, class: "form-control", placeholder: "選手名", data: { 
  controller: "autocomplete",
  action: "autocomplete->input",
  autocomplete_url_value: autocomplete_match_infos_path(format: :json) } %>
  <span class="clear-field" data-action="click->input#clear"></span>
  </div>

  <div class="col-auto">
    <%= f.label :opponent_player_name_cont, "対戦相手名", class: "visually-hidden" %>
    <%= f.search_field :opponent_player_name_cont, class: "form-control", placeholder: "対戦相手名", data: { 
  controller: "autocomplete",
  action: "autocomplete->input",
  autocomplete_url_value: autocomplete_match_infos_path(format: :json) } %>
  <span class="clear-field" data-action="click->input#clear"></span>
  </div>

  <div class="col-auto">
    <%= f.submit "検索", class: "btn btn-primary" %>
  </div>
<% end %>

<% if @match_infos.empty? %>
  <div class="d-flex justify-content-center">
    <p class="text-center">試合の分析データがありません。
    <br>試合分析をスタートしましょう。</p>
  </div>
<% else %>
  <div id="match_infos">
    <% @match_infos.each do |match_info| %>
      <%= render partial: "match_info_summary", locals: { match_info: match_info } %>
    <% end %>
  </div>
<% end %>

<%= link_to "試合分析を開始", new_match_info_path, class: "btn btn-success text-white btn-top-right" %>
