<!DOCTYPE html>
<html>
  <head>
    <title>T.T.LOG</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <%= favicon_link_tag asset_path('favicon-64x64.png') %>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="T.T.LOG | 卓球の試合分析ツール">
    <meta property="og:description" content="あなたのプレーを分析します！">
    <meta property="og:image" content="<%= image_url('line_thumbnail.jpg') %>">

    <!-- Twitter 
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="T.T.LOG | 卓球の試合分析ツール">
    <meta name="twitter:description" content="あなたのプレーを分析します！">
    <meta name="twitter:image" content="<%= image_url('twitter_thumbnail.jpg') %>">
　　　　　　　　-->

    <!-- Googleアナリティクスtag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M1KP0X3X9X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-M1KP0X3X9X');
    </script>
    <!-- Googleサーチコンソールtag -->
    <meta name="google-site-verification" content="i5OL2DPxcbskR_qNLPfNsdYd-yuq9joUtzea-NeIhx0" />
  </head>
  <body class="<%= controller_name %>-<%= action_name %>">
    <div class="content-wrap">
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>

      <%= render 'shared/flash_message' %>

      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>

